<form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-grid-list cols="1" rowHeight="460px" gutterSize="10" role="list">
        <mat-grid-tile role="listitem">
            <mat-grid-tile-header>
                <span class="tile-header">
                    User: {{!selectedUser.key ? 'New' : selectedUser.key}}
                </span>
                <mat-divider [vertical]="true"></mat-divider>
                <button type="button" mat-icon-button mat-raised-button *ngIf="!selectedUser.key">
                    <mat-icon color="accent">add_circle</mat-icon>
                </button>
                <button type="button" mat-icon-button mat-raised-button color="warn" [disabled]="isDeleting"
                    *ngIf="selectedUser.key" (click)="onDelete()" matTooltip="Delete user"
                    [matTooltipPosition]="'below'">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-spinner color="warn" [diameter]="30" *ngIf="isDeleting"></mat-spinner>
            </mat-grid-tile-header>
            <div class="full-width">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="userName">
                    <mat-error *ngIf="userForm.controls['userName'].hasError('required')">
                        The username <strong>is required</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['userName'].hasError('minlength')">
                        The username <strong>must have at least 6 characters</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="userForm.controls['password'].hasError('required')">
                        The password <strong>is required</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">
                        The password <strong>must have at least 6 characters</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="userForm.controls['name'].hasError('required')">
                        The name <strong>is required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName">
                    <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
                        The last name <strong>is required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Birth date</mat-label>
                    <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthDatePicker></mat-datepicker>
                    <mat-error *ngIf="userForm.controls['birthDate'].hasError('required')">
                        The birth date <strong>is required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-error *ngIf="userForm.controls['email'].hasError('required')">
                        The email <strong>is required</strong>
                    </mat-error>
                    <mat-error *ngIf="userForm.controls['email'].hasError('email')">
                        The email <strong>isn't valid</strong>. Example: name@company.com
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-grid-tile-footer>
                <span class="tile-footer">
                    &nbsp;
                </span>
                <button type="submit" mat-button mat-raised-button color="accent"
                    [disabled]="userForm.invalid || isSaving">
                    Save
                </button>
                <mat-spinner color="accent" [diameter]="30" *ngIf="isSaving"></mat-spinner>
                &nbsp;
                <button type="reset" mat-button mat-raised-button color="primary" (click)="onCancel()">
                    Cancel
                </button>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</form>