.nameHeader {
    font-size: xx-large;
}

.image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.photo {
    /* display: block; */
    /* margin: 0 auto; */
    height: 100%;
    width: auto;
}