<div class="main-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="userIsLoggedIn">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">
      <mat-icon [inline]="true" color="accent">book</mat-icon>
      Book
      <mat-icon [inline]="true" color="accent">swap_horizontal_circle</mat-icon>
      Swap
    </h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #snav [mode]="side" fixedTopGap="56" class="main-sidenav">
      <mat-nav-list *ngIf="userIsLoggedIn">
        <a mat-list-item routerLink="/Home" routerLinkActive="active" (click)="snav.toggle()">
          <mat-icon>home</mat-icon><span>Home</span>
        </a>
        <a mat-list-item routerLink="/Users" routerLinkActive="active" (click)="snav.toggle()">
          <mat-icon>account_circle</mat-icon><span>Users</span>
        </a>
        <a mat-list-item routerLink="/Books" routerLinkActive="active" (click)="snav.toggle()">
          <mat-icon>book</mat-icon><span>Books</span>
        </a>
        <a mat-list-item routerLink="/Reviews" routerLinkActive="active" (click)="snav.toggle()">
          <mat-icon>message</mat-icon><span>Reviews</span>
        </a>
        <a mat-list-item routerLink="/About" routerLinkActive="active" (click)="snav.toggle()">
          <mat-icon>info</mat-icon><span>About</span>
        </a>
        <a mat-list-item (click)="snav.toggle(); logOut();">
          <mat-icon>power_settings_new</mat-icon><span>Log Out</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>