<h2 class="col-5">Usuarios</h2>
<div class="maintenance-actions" *ngIf="!editing">
    <button mat-button mat-raised-button color="accent" (click)="onCreate()">
        <mat-icon>add_circle</mat-icon>
        New
    </button>
    &nbsp;
    <button mat-button mat-raised-button color="warn" (click)="onDeleteAll()">
        <mat-icon>delete_sweep</mat-icon>
        Delete All
    </button>
</div>
<div class="userList" *ngIf="!editing">
    <app-user-list [users]='users' (edit)="onEdit($event)" (delete)="onDeleteByKey($event)">
    </app-user-list>
</div>
<div *ngIf="editing">
    <app-user-form [selectedUser]="selectedUser" (save)="onSave($event)" (delete)="onDelete($event)"
        (cancel)="onCancel($event)">
    </app-user-form>
</div>