<mat-grid-list cols="4" gutterSize="10" role="list">
    <mat-grid-tile role="listitem">
        <mat-card class="home-card">
            <img mat-card-image src="../../assets/book-swap-1.png" alt="Book Swap">
            <mat-card-content>
                <p>Leave a book... take a book!</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <mat-card class="home-card">
            <img mat-card-image src="../../assets/book-swap-2.jpg" alt="Book Swap">
            <mat-card-content>
                <p>Leave a book... take a book!</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <mat-card class="home-card">
            <img mat-card-image src="../../assets/book-swap-3.png" alt="Book Swap">
            <mat-card-content>
                <p>Leave a book... take a book!</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile role="listitem">
        <mat-card class="home-card">
            <img mat-card-image src="../../assets/book-swap-4.jpg" alt="Book Swap">
            <mat-card-content>
                <p>Leave a book... take a book!</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>